/* Makeshift CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    margin: 0 auto;
    width: 1200px;
    font: 13px/22px Helvetica, Arial, sans-serif;
    background: linear-gradient(blue, purple, blue);
}

#wrapper {
    width: 1200px;
    padding: 22px 0;
}

/* THE HEADER FIX: Using Flexbox for perfect centering */
header {
    height: 150px;
    width: 100%;
    color: #000000;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;     
    text-align: center;
}

header h1 {
    font-size: 40px;
    line-height: 44px;
    margin: 0;
}

header h3 {
    font-size: 18px;
    line-height: 18px;
    margin: 5px 0 0 0;
}

/* NAVIGATION */
nav {
    margin: 10px 0px;
    height: 50px;
    line-height: 50px;
    background-color: #000000;
}

nav ul {
    list-style: none;
    text-align: center; 
}

nav ul li {
    display: inline;
    padding: 0px 20px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-size: medium;
}

nav ul li:hover {
    opacity: 0.6;
}

/* MAIN CONTENT & ARTICLES */
#main {
    padding-top: 20px;
    width: 960px;
    float: right;
}

/* Ensures the image doesn't break the layout */
#main img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 20px;
}

article {
    width: 100%;
    max-width: 925px;
    height: 100%;
    max-height: 925px;
    background-color: #ffffff;
    padding: 20px;
}

h2 {
    color: #000000;
    margin-bottom: 10px;
}

p {
    padding-bottom: 15px;
    color: #000000;
}

footer {
    float: right;
    height: 80px;
    width: 1200px;
    background: #444;
    color: white;
    text-align: center;
    padding-top: 30px;
}

#underline{
    text-decoration: underline;
}